.item-details-page {

  div.selection {
    font-size: 22px;
    display: block;
    text-align: center;
    padding-top: 5%;
  }

}

div.voting_wrapper, div.voting_wrapper_vote_page{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    margin-top: 50px;
}
div.voting_wrapper_vote_page{
    margin-top: 0px;
}
div.voting_wrapper > span{
    display: block;
}

