.DS_Store
node_modules/*
client/node_modules/*
client/src/app/**/*.js
server/**
/.idea
src/us.blockchain.ibm.com.cert
logs/*
npm-debug.log.*
npm-debug.log
src/build-chaincode/chaincode
src/build-chaincode/Dockerfile
.tscache
typings
.baseDir.ts
tscommand*
client/assets/node_modules/*
/client/semantic/
/client/semantic.json
src/build-chaincode/vendor
resources/blockchain
