page-history-page {
  .cic-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #cccccc transparent transparent transparent;
    margin-left: 55%;
  }
}
